@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
    color: white;
}

.drawer-side a {
    background-color: transparent;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}